.giftsList {
	width: 500px;
	margin: 100px auto;

	display: flex;
	flex-direction: column;

	background-color: white;
	padding: 20px;
	border-radius: 5px;
	border: 1px solid black;
}

button {
	flex: 0;
	padding: 10px 20px;
	border-radius: 5px;
	border: 1px solid white;
	text-transform: uppercase;
	cursor: pointer;
}

.giftItem,
.updateGiftForm {
	display: flex;
	gap: 5px;
	margin-bottom: 5px;
}

.newGiftForm {
	display: flex;
	gap: 5px;
}

input {
	flex: 1;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid rgb(45, 45, 45);
}

.newGiftForm button {
	background-color: #063e08;
	color: white;
}

.giftItem {
	display: flex;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	background-color: antiquewhite;
}

.giftTitle {
	flex: 1;
	/* align horizontal center */
	display: flex;
	align-items: center;
}

.updateButton {
	background-color: #05032a;
	color: white;
	margin-right: 3px;
}

.deleteButton {
	background-color: #5a0505;
	color: white;
}

