body {
	margin: 0;
	background: linear-gradient(90deg, #ff000052 0%, #ff0000 50%, #ff0000 100%);
}

.App-link {
	color: #61dafb;
}

@font-face {
	font-family: "MountainsOfChristmas-Regular";
	src: url("./fonts/MountainsofChristmas-Regular.ttf");
}

@font-face {
	font-family: "MountainsOfChristmas-Bold";
	src: url("./fonts/MountainsofChristmas-Bold.ttf");
}

@font-face {
	font-family: "Recoleta-Regular";
	src: url("./fonts/Recoleta-Regular.ttf");
}

* {
	font-family: "Recoleta-Regular";
}

.App {
}

.App h1 {
	font-family: "MountainsOfChristmas-Bold";
}
