@font-face {
	font-family: "MountainsOfChristmas-Regular";
	src: url("./fonts/MountainsofChristmas-Regular.ttf");
}

@font-face {
	font-family: "MountainsOfChristmas-Bold";
	src: url("./fonts/MountainsofChristmas-Bold.ttf");
}

@font-face {
	font-family: "Recoleta-Regular";
	src: url("./fonts/Recoleta-Regular.ttf");
}

* {
	font-family: "Recoleta-Regular";
	background-image: url("./assets/images/glittery.jpg");
}

.App {
	margin: 10px 200px;
	background: #fff;
}

.App h1 {
	font-family: "MountainsOfChristmas-Bold";
}
